In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("pokemon_data.csv",encoding="gbk")
df.head()

                      姓名    类型1     类型2   总计  生命值  攻击力  防御力  速度  时代
0              Bulbasaur  Grass  Poison  318   45   49   49  45   1
1                Ivysaur  Grass  Poison  405   60   62   63  60   1
2               Venusaur  Grass  Poison  525   80   82   83  80   1
3  VenusaurMega Venusaur  Grass  Poison  625   80  100  123  80   1
4             Charmander   Fire     NaN  309   39   52   43  65   1

## 一.简单随机抽样

In [11]:
#简单随机抽样，随机抽取5行数据
df.sample(n=5)

                       姓名     类型1     类型2   总计  生命值  攻击力  防御力  速度  时代
600              Sewaddle     Bug   Grass  310   45   53   70  42   5
545  GiratinaOrigin Forme   Ghost  Dragon  680  150  120  100  90   4
299               Taillow  Normal  Flying  270   40   55   30  85   3
156              Articuno     Ice  Flying  580   90   85  100  85   1
0               Bulbasaur   Grass  Poison  318   45   49   49  45   1

In [35]:
#设置抽样的权重，权重高的更有希望被选取
w = [0.2,0.3,0.5]
df.head(3).sample(n=2,weights=w)

         姓名    类型1     类型2   总计  生命值  攻击力  防御力  速度  时代
1   Ivysaur  Grass  Poison  405   60   62   63  60   1
2  Venusaur  Grass  Poison  525   80   82   83  80   1

In [31]:
df.head(3)

          姓名    类型1     类型2   总计  生命值  攻击力  防御力  速度  时代
0  Bulbasaur  Grass  Poison  318   45   49   49  45   1
1    Ivysaur  Grass  Poison  405   60   62   63  60   1
2   Venusaur  Grass  Poison  525   80   82   83  80   1

抽样后是否放回，由replace参数控制

In [36]:
df.head(5)

                      姓名    类型1     类型2   总计  生命值  攻击力  防御力  速度  时代
0              Bulbasaur  Grass  Poison  318   45   49   49  45   1
1                Ivysaur  Grass  Poison  405   60   62   63  60   1
2               Venusaur  Grass  Poison  525   80   82   83  80   1
3  VenusaurMega Venusaur  Grass  Poison  625   80  100  123  80   1
4             Charmander   Fire     NaN  309   39   52   43  65   1

In [38]:
#抽样后不放回
df.head(5).sample(n=4,replace=False)

           姓名    类型1     类型2   总计  生命值  攻击力  防御力  速度  时代
4  Charmander   Fire     NaN  309   39   52   43  65   1
0   Bulbasaur  Grass  Poison  318   45   49   49  45   1
2    Venusaur  Grass  Poison  525   80   82   83  80   1
1     Ivysaur  Grass  Poison  405   60   62   63  60   1

In [39]:
#抽样后放回
df.head(5).sample(n=4,replace=True)

                      姓名    类型1     类型2   总计  生命值  攻击力  防御力  速度  时代
3  VenusaurMega Venusaur  Grass  Poison  625   80  100  123  80   1
1                Ivysaur  Grass  Poison  405   60   62   63  60   1
1                Ivysaur  Grass  Poison  405   60   62   63  60   1
0              Bulbasaur  Grass  Poison  318   45   49   49  45   1

## 二.描述性统计

In [41]:
df.describe().round(1)

          总计    生命值    攻击力    防御力     速度     时代
count  800.0  800.0  800.0  800.0  800.0  800.0
mean   435.1   69.3   79.0   73.8   68.3    3.3
std    120.0   25.5   32.5   31.2   29.1    1.7
min    180.0    1.0    5.0    5.0    5.0    1.0
25%    330.0   50.0   55.0   50.0   45.0    2.0
50%    450.0   65.0   75.0   70.0   65.0    3.0
75%    515.0   80.0  100.0   90.0   90.0    5.0
max    780.0  255.0  190.0  230.0  180.0    6.0

In [43]:
#均值
df["攻击力"].mean()

79.00125

In [44]:
#标准差
df["攻击力"].std()

32.45736586949843

In [45]:
#求和
df["攻击力"].sum()

63201

In [46]:
#中位数
df["攻击力"].median()

75.0

In [56]:
#最大值或最小值的索引idxmax,idxmin
df["攻击力"].idxmax()

163

In [57]:
#验证最大值
df["攻击力"].loc[163]

190

In [65]:
#验证最大值
df["攻击力"].max()

190

In [60]:
#累计值
df["攻击力"].cumsum()

0         49
1        111
2        193
3        293
4        345
5        409
6        493
7        623
8        727
9        775
10       838
11       921
12      1024
13      1054
14      1074
15      1119
16      1154
17      1179
18      1269
19      1419
20      1464
21      1524
22      1604
23      1684
24      1740
25      1821
26      1881
27      1971
28      2031
29      2116
       ...
770    60594
771    60686
772    60744
773    60794
774    60844
775    60919
776    61019
777    61099
778    61169
779    61279
780    61345
781    61411
782    61477
783    61543
784    61633
785    61718
786    61813
787    61913
788    61982
789    62099
790    62129
791    62199
792    62330
793    62461
794    62561
795    62661
796    62821
797    62931
798    63091
799    63201
Name: 攻击力, Length: 800, dtype: int64

In [64]:
#频数分布
df["类型1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: 类型1, dtype: int64

## 三.协方差与相关性

In [47]:
#两变量的协方差
df["攻击力"].cov(df["防御力"])

444.01020963704605

In [48]:
#所有变量间的协方差
df.cov()

,总计,生命值,攻击力,防御力,速度,时代
总计,14391.130907,1895.360178,2866.571837,2292.356589,2007.841358,9.642619
生命值,1895.360178,652.019323,350.068512,190.801755,130.565153,2.489341
攻击力,2866.571837,350.068512,1053.480599,444.010210,359.595397,2.774313
防御力,2292.356589,190.801755,444.010210,972.410707,13.798454,2.197487
速度,2007.841358,130.565153,359.595397,13.798454,844.511133,-1.116236
时代,9.642619,2.489341,2.774313,2.197487,-1.116236,2.759886

In [51]:
#两个变量间的相关系数
df["攻击力"].corr(df["防御力"])

0.43868705511848927

In [52]:
#所有变量间的相关系数
df.corr()

           总计       生命值       攻击力       防御力        速度        时代
总计   1.000000  0.618748  0.736211  0.612787  0.575943  0.048384
生命值  0.618748  1.000000  0.422386  0.239622  0.175952  0.058683
攻击力  0.736211  0.422386  1.000000  0.438687  0.381240  0.051451
防御力  0.612787  0.239622  0.438687  1.000000  0.015227  0.042419
速度   0.575943  0.175952  0.381240  0.015227  1.000000 -0.023121
时代   0.048384  0.058683  0.051451  0.042419 -0.023121  1.000000