In [76]:
import pandas as pd
import numpy as np

## 一.分组计算

In [77]:
#示例数据
df = pd.read_csv("pokemon_data.csv",encoding="gbk")
df.head(10)

                          姓名    类型1     类型2   总计  生命值  攻击力  防御力   速度  时代
0                  Bulbasaur  Grass  Poison  318   45   49   49   45   1
1                    Ivysaur  Grass  Poison  405   60   62   63   60   1
2                   Venusaur  Grass  Poison  525   80   82   83   80   1
3      VenusaurMega Venusaur  Grass  Poison  625   80  100  123   80   1
4                 Charmander   Fire     NaN  309   39   52   43   65   1
5                 Charmeleon   Fire     NaN  405   58   64   58   80   1
6                  Charizard   Fire  Flying  534   78   84   78  100   1
7  CharizardMega Charizard X   Fire  Dragon  634   78  130  111  100   1
8  CharizardMega Charizard Y   Fire  Flying  634   78  104   78  100   1
9                   Squirtle  Water     NaN  314   44   48   65   43   1

### 1.如何分组计算

假设现在要根据“类型1”这列来做分组计算

In [78]:
#查看下类型1中的类别数量分布
df["类型1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ground       32
Dragon       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: 类型1, dtype: int64

In [79]:
#查看类型1中有多少个类型
len(df["类型1"].value_counts())

18

实例演练

**Q1：想知道类型1的这18个种类各自的平均攻击力是多少（单列分组计算）**

In [80]:
#根据类型1这列来分组，并将结果存储在grouped1中
grouped1 = df.groupby("类型1")

In [81]:
#输出grouped1，这里就是显示它是一个分组对象，并且存储的内存地址是0x0000000008EE9E80，没什么卵用
grouped1

In [84]:
#求类型1的18个种类各自的平均攻击力
grouped1[["攻击力"]].mean()

                 攻击力
类型1
Bug        70.971014
Dark       88.387097
Dragon    112.125000
Electric   69.090909
Fairy      61.529412
Fighting   96.777778
Fire       84.769231
Flying     78.750000
Ghost      73.781250
Grass      73.214286
Ground     95.750000
Ice        72.750000
Normal     73.469388
Poison     74.678571
Psychic    71.456140
Rock       92.863636
Steel      92.703704
Water      74.151786

小结一下：

grouped1 = df.groupby("类型1")这一步就是分组计算流程里的第一步：split

grouped1[["攻击力"]].mean() 这一步就是分组计算流程的第二和第三步：apply—combine

**Q2：想知道类型1和类型2的组合类型里，每个组合各自的攻击力均值（多列分组计算）**

In [85]:
grouped2 = df.groupby(["类型1","类型2"])

In [86]:
grouped2[["攻击力"]].mean()

                          攻击力
类型1      类型2
Bug      Electric   62.000000
         Fighting  155.000000
         Fire       72.500000
         Flying     70.142857
         Ghost      90.000000
         Grass      73.833333
         Ground     62.000000
         Poison     68.333333
         Rock       56.666667
         Steel     114.714286
         Water      30.000000
Dark     Dragon     85.000000
         Fighting   82.500000
         Fire       80.000000
         Flying     92.200000
         Ghost      80.000000
         Ice       107.500000
         Psychic    73.000000
         Steel     105.000000
Dragon   Electric  150.000000
         Fairy     110.000000
         Fire      120.000000
         Flying    135.666667
         Ground    112.000000
         Ice       140.000000
         Psychic   100.000000
Electric Dragon     95.000000
         Fairy      58.000000
         Fire       65.000000
         Flying     90.000000
...                       ...
Rock     Fighting  129.000000
         Flying    123.000000
         Grass      61.000000
         Ground     81.333333
         Ice        68.000000
         Psychic    75.000000
         Steel      49.666667
         Water      75.333333
Steel    Dragon    120.000000
         Fairy      90.000000
         Fighting   90.000000
         Flying     80.000000
         Ghost      97.500000
         Ground    105.000000
         Psychic    89.000000
         Rock       90.000000
Water    Dark      120.000000
         Dragon    107.500000
         Electric   48.000000
         Fairy      35.000000
         Fighting   79.666667
         Flying     56.571429
         Ghost      50.000000
         Grass      50.000000
         Ground     84.400000
         Ice        83.333333
         Poison     68.333333
         Psychic    73.000000
         Rock       82.750000
         Steel      86.000000

[136 rows x 1 columns]

**Q3:想知道类型1和类型2的组合类型里，每个组合各自的攻击力均值、中位数、总和（对组应用多个函数）**

In [89]:
grouped2[["攻击力"]].agg([np.mean,np.median,np.sum])

                          攻击力
                         mean median  sum
类型1      类型2
Bug      Electric   62.000000   62.0  124
         Fighting  155.000000  155.0  310
         Fire       72.500000   72.5  145
         Flying     70.142857   67.5  982
         Ghost      90.000000   90.0   90
         Grass      73.833333   66.5  443
         Ground     62.000000   62.0  124
         Poison     68.333333   57.5  820
         Rock       56.666667   65.0  170
         Steel     114.714286  120.0  803
         Water      30.000000   30.0   30
Dark     Dragon     85.000000   85.0  255
         Fighting   82.500000   82.5  165
         Fire       80.000000   90.0  240
         Flying     92.200000   85.0  461
         Ghost      80.000000   80.0  160
         Ice       107.500000  107.5  215
         Psychic    73.000000   73.0  146
         Steel     105.000000  105.0  210
Dragon   Electric  150.000000  150.0  150
         Fairy     110.000000  110.0  110
         Fire      120.000000  120.0  120
         Flying    135.666667  140.0  814
         Ground    112.000000  100.0  560
         Ice       140.000000  130.0  420
         Psychic   100.000000   95.0  400
Electric Dragon     95.000000   95.0   95
         Fairy      58.000000   58.0   58
         Fire       65.000000   65.0   65
         Flying     90.000000   90.0  450
...                       ...    ...  ...
Rock     Fighting  129.000000  129.0  129
         Flying    123.000000  123.5  492
         Grass      61.000000   61.0  122
         Ground     81.333333   82.0  488
         Ice        68.000000   68.0  136
         Psychic    75.000000   75.0  150
         Steel      49.666667   52.0  149
         Water      75.333333   70.0  452
Steel    Dragon    120.000000  120.0  120
         Fairy      90.000000   85.0  270
         Fighting   90.000000   90.0   90
         Flying     80.000000   80.0   80
         Ghost      97.500000   95.0  390
         Ground    105.000000  105.0  210
         Psychic    89.000000   89.0  623
         Rock       90.000000   90.0  270
Water    Dark      120.000000  120.0  720
         Dragon    107.500000  107.5  215
         Electric   48.000000   48.0   96
         Fairy      35.000000   35.0   70
         Fighting   79.666667   72.0  239
         Flying     56.571429   44.0  396
         Ghost      50.000000   50.0  100
         Grass      50.000000   50.0  150
         Ground     84.400000   84.0  844
         Ice        83.333333   85.0  250
         Poison     68.333333   70.0  205
         Psychic    73.000000   75.0  365
         Rock       82.750000   84.0  331
         Steel      86.000000   86.0   86

[136 rows x 3 columns]

**Q4：想知道类型1和类型2的组合类型里，每个组合各自的攻击力的均值和中位数，生命值的总和（对不同列应用不同的函数）**

In [90]:
grouped2.agg({"攻击力":[np.mean,np.median],"生命值":np.sum})

                          攻击力         生命值
                         mean median  sum
类型1      类型2
Bug      Electric   62.000000   62.0  120
         Fighting  155.000000  155.0  160
         Fire       72.500000   72.5  140
         Flying     70.142857   67.5  882
         Ghost      90.000000   90.0    1
         Grass      73.833333   66.5  330
         Ground     62.000000   62.0   91
         Poison     68.333333   57.5  645
         Rock       56.666667   65.0  140
         Steel     114.714286  120.0  474
         Water      30.000000   30.0   40
Dark     Dragon     85.000000   85.0  216
         Fighting   82.500000   82.5  115
         Fire       80.000000   90.0  195
         Flying     92.200000   85.0  466
         Ghost      80.000000   80.0  100
         Ice       107.500000  107.5  125
         Psychic    73.000000   73.0  139
         Steel     105.000000  105.0  110
Dragon   Electric  150.000000  150.0  100
         Fairy     110.000000  110.0   75
         Fire      120.000000  120.0  100
         Flying    135.666667  140.0  566
         Ground    112.000000  100.0  450
         Ice       140.000000  130.0  375
         Psychic   100.000000   95.0  320
Electric Dragon     95.000000   95.0   90
         Fairy      58.000000   58.0   67
         Fire       65.000000   65.0   50
         Flying     90.000000   90.0  353
...                       ...    ...  ...
Rock     Fighting  129.000000  129.0   91
         Flying    123.000000  123.5  290
         Grass      61.000000   61.0  152
         Ground     81.333333   82.0  330
         Ice        68.000000   68.0  200
         Psychic    75.000000   75.0  140
         Steel      49.666667   52.0  150
         Water      75.333333   70.0  309
Steel    Dragon    120.000000  120.0  100
         Fairy      90.000000   85.0  157
         Fighting   90.000000   90.0   91
         Flying     80.000000   80.0   65
         Ghost      97.500000   95.0  224
         Ground    105.000000  105.0  150
         Psychic    89.000000   89.0  484
         Rock       90.000000   90.0  180
Water    Dark      120.000000  120.0  415
         Dragon    107.500000  107.5  165
         Electric   48.000000   48.0  200
         Fairy      35.000000   35.0  170
         Fighting   79.666667   72.0  272
         Flying     56.571429   44.0  442
         Ghost      50.000000   50.0  155
         Grass      50.000000   50.0  180
         Ground     84.400000   84.0  871
         Ice        83.333333   85.0  270
         Poison     68.333333   70.0  185
         Psychic    73.000000   75.0  435
         Rock       82.750000   84.0  283
         Steel      86.000000   86.0   84

[136 rows x 3 columns]

**Q5：对组内数据进行标准化处理（转换）**

In [12]:
zscore = lambda x : (x-x.mean())/x.std()

In [92]:
grouped1.transform(zscore)

           总计       生命值       攻击力       防御力        速度        时代
0   -0.967110 -1.141155 -0.954050 -0.890334 -0.593850 -1.492643
1   -0.151362 -0.372577 -0.441846 -0.318560 -0.067654 -1.492643
2    0.973807  0.652193  0.346160  0.498260  0.633942 -1.492643
3    1.911448  0.652193  1.055365  2.131901  0.633942 -1.492643
4   -1.358202 -1.592643 -1.139036 -1.046962 -0.374015 -1.194996
5   -0.483570 -0.613470 -0.721924 -0.412932  0.220143 -1.194996
6    0.691716  0.417239 -0.026738  0.432441  1.012355 -1.194996
7    1.602790  0.417239  1.572190  1.827306  1.012355 -1.194996
8    1.602790  0.417239  0.668448  0.432441  1.012355 -1.194996
9   -1.028864 -1.020936 -0.921578 -0.286112 -0.997608 -1.191392
10  -0.224894 -0.475224 -0.392984  0.253965 -0.345982 -1.191392
11   0.879461  0.252392  0.311807  0.974068  0.522852 -1.191392
12   1.762945  0.252392  1.016599  1.694171  0.522852 -1.191392
13  -1.560358 -0.727792 -1.106102 -1.062676 -0.502027 -1.387228
14  -1.475522 -0.421587 -1.376074 -0.467750 -0.953459 -1.387228
15   0.136352  0.190824 -0.701144 -0.616482  0.250359 -1.387228
16  -1.560358 -1.033998 -0.971116 -1.211408 -0.351550 -1.387228
17  -1.475522 -0.727792 -1.241088 -0.616482 -0.802982 -1.387228
18   0.136352  0.497029  0.513729 -0.913945  0.400837 -1.387228
19   0.984706  0.497029  2.133560 -0.913945  2.507519 -1.387228
20  -1.301994 -1.028760 -0.939712 -0.834893 -0.547452 -1.301899
21  -0.455217 -0.393987 -0.444595 -0.203894 -0.019398 -1.301899
22   0.668058  0.157989  0.215561  0.637438  1.036711 -1.301899
23   1.532115  0.157989  0.215561  0.847771  1.740784 -1.301899
24  -1.284712 -1.304748 -0.576626 -1.045226  0.015806 -1.301899
25   0.097780 -0.614778  0.248569  0.006439  0.895897 -1.301899
26  -1.206947 -1.028760 -0.444595 -1.255559 -0.054602 -1.301899
27   0.348356 -0.338790  0.545639  0.216772  1.001508 -1.301899
28  -1.203383 -1.639968 -0.747762 -1.178263 -0.378741 -0.876086
29   0.420720 -0.368675  0.525798  0.008477  0.725920 -0.876086
..        ...       ...       ...       ...       ...       ...
770  0.903393  0.885322  0.116653 -0.037192  0.489666  0.876671
771  0.815460  0.315176 -0.168885  0.488427  1.992968  1.460417
772 -0.117375  0.416291 -0.466707 -0.375467  0.618172  1.699556
773  0.428006 -0.737435 -1.213392  1.350022 -0.197605  1.377131
774 -1.712829 -1.610079 -1.841143 -2.131483 -1.851606  1.484749
775 -0.673637 -0.643506 -1.100241 -1.384686 -0.991019  1.484749
776  0.338207  0.281042 -0.359338 -0.679378 -0.130433  1.484749
777 -0.153384 -0.512479 -0.418046 -0.789402  0.763766  1.590845
778 -1.186148 -0.676563 -0.127617 -1.019550 -0.940167  1.070457
779  0.312861  0.648948  1.222380 -0.159365 -0.297775  1.070457
780 -0.949940 -0.487204 -0.262617 -0.343690 -0.476218  1.070457
781 -0.949940 -0.645003 -0.262617 -0.343690 -0.297775  1.070457
782 -0.949940 -0.329405 -0.262617 -0.343690 -0.654660  1.070457
783 -0.949940 -0.171606 -0.262617 -0.343690 -0.833102  1.070457
784  0.494560  0.017752  0.547382  1.253796  0.701501  1.070457
785  0.494560 -0.297845  0.378632  1.253796  1.236827  1.070457
786  0.494560  0.333350  0.716131  1.253796  0.166174  1.070457
787  0.494560  0.648948  0.884881  1.253796 -0.369152  1.070457
788 -1.195577 -0.798615 -0.137415  0.395005 -1.447373  1.668018
789  0.743821  1.080479  1.621502  3.273941 -1.447373  1.668018
790 -1.486988 -1.485923 -1.300000 -1.463014 -1.479806  0.866025
791  0.309789  0.688599 -0.233333  0.643726  0.638653  0.866025
792  2.155598  2.199589  2.335044  1.543463  2.163112  0.876671
793  2.146671  2.808270  1.653313  0.986156  0.822477  1.453700
794  0.338207  1.037490 -0.359338  1.436547  0.515007  1.484749
795  1.353424 -0.737435  0.202018  1.350022 -0.197605  1.377131
796  2.278843 -0.737435  1.900509  0.252545  1.808844  1.377131
797  0.892294  0.329626  0.911003 -0.270958 -0.307784  1.589229
798  1.467723  0.329626  2.092777 -0.270958 -0.039941  1.589229
799  1.293025  0.520310  0.877004  2.207724 -0.175962  1.506735

[800 rows x 6 columns]

**Q6：对组进行条件过滤**

需求：针对grouped2的这个分组，希望得到平均攻击力为100以上的组，其余的组过滤掉

In [48]:
attack_filter = lambda x : x["攻击力"].mean() > 100

In [93]:
grouped2.filter(attack_filter)

,姓名,类型1,类型2,总计,生命值,攻击力,防御力,速度,时代
7,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,100,1
119,Rhyhorn,Ground,Rock,345,80,85,95,25,1
120,Rhydon,Ground,Rock,485,105,130,120,40,1
141,GyaradosMega Gyarados,Water,Dark,640,95,155,109,81,1
153,Aerodactyl,Rock,Flying,515,80,105,65,130,1
154,AerodactylMega Aerodactyl,Rock,Flying,615,80,135,85,150,1
161,Dragonite,Dragon,Flying,600,91,134,95,80,1
163,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,130,1
220,Forretress,Bug,Steel,465,75,90,140,40,2
222,Gligar,Ground,Flying,430,65,75,105,85,2
223,Steelix,Steel,Ground,510,75,85,200,30,2
224,SteelixMega Steelix,Steel,Ground,610,75,125,230,30,2
228,Scizor,Bug,Steel,500,70,130,100,65,2
229,ScizorMega Scizor,Bug,Steel,600,70,150,140,75,2
231,Heracross,Bug,Fighting,500,80,125,75,85,2
232,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,75,2
233,Sneasel,Dark,Ice,430,55,95,55,115,2
249,Kingdra,Water,Dragon,540,75,95,95,85,2
267,Tyranitar,Rock,Dark,600,100,134,110,61,2
268,TyranitarMega Tyranitar,Rock,Dark,700,100,164,150,71,2
275,SceptileMega Sceptile,Grass,Dragon,630,70,110,75,145,3
277,Combusken,Fire,Fighting,405,60,85,60,55,3
278,Blaziken,Fire,Fighting,530,80,120,70,80,3
279,BlazikenMega Blaziken,Fire,Fighting,630,80,160,80,100,3
310,Breloom,Grass,Fighting,460,60,130,80,70,3
347,Carvanha,Water,Dark,305,45,90,20,65,3
348,Sharpedo,Water,Dark,460,70,120,40,95,3
349,SharpedoMega Sharpedo,Water,Dark,560,70,140,70,105,3
365,Altaria,Dragon,Flying,490,75,70,90,80,3
366,AltariaMega Altaria,Dragon,Fairy,590,75,110,110,80,3
...,...,...,...,...,...,...,...,...,...
589,Excadrill,Ground,Steel,508,110,135,60,88,5
627,Archen,Rock,Flying,401,55,112,45,70,5
628,Archeops,Rock,Flying,567,75,140,65,110,5
650,Escavalier,Bug,Steel,495,70,135,105,20,5
685,Pawniard,Dark,Steel,340,45,85,70,60,5
686,Bisharp,Dark,Steel,490,65,125,100,70,5
693,Durant,Bug,Steel,484,58,109,112,109,5
700,Terrakion,Rock,Fighting,580,91,129,90,108,5
701,Virizion,Grass,Fighting,580,91,90,72,108,5
706,Reshiram,Dragon,Fire,680,100,120,100,90,5
707,Zekrom,Dragon,Electric,680,100,150,120,90,5
708,LandorusIncarnate Forme,Ground,Flying,600,89,125,90,101,5
709,LandorusTherian Forme,Ground,Flying,600,89,145,90,91,5
710,Kyurem,Dragon,Ice,660,125,130,90,95,5
711,KyuremBlack Kyurem,Dragon,Ice,700,125,170,100,95,5
712,KyuremWhite Kyurem,Dragon,Ice,700,125,120,90,95,5
716,MeloettaPirouette Forme,Normal,Fighting,600,100,128,90,128,5
717,Genesect,Bug,Steel,600,71,120,95,99,5
720,Chesnaught,Grass,Fighting,530,88,107,122,64,6
726,Greninja,Water,Dark,530,72,95,67,122,6
743,Pangoro,Fighting,Dark,495,95,124,78,58,6
766,Tyrunt,Rock,Dragon,362,58,89,77,48,6
767,Tyrantrum,Rock,Dragon,521,82,121,119,71,6
773,Carbink,Rock,Fairy,500,50,50,150,50,6
794,Zygarde50% Forme,Dragon,Ground,600,108,100,121,95,6
795,Diancie,Rock,Fairy,600,50,100,150,50,6
796,DiancieMega Diancie,Rock,Fairy,700,50,160,110,110,6
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,70,6
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,80,6
799,Volcanion,Fire,Water,600,80,110,120,70,6

**Q7：将类型1和2作为索引列，按照索引来实现分组计算（根据索引来分组计算）**

In [97]:
#将类型1、类型2设置为索引列
df_pokemon = df.set_index(["类型1","类型2"])

In [98]:
df_pokemon.head()

                                 姓名   总计  生命值  攻击力  防御力  速度  时代
类型1   类型2
Grass Poison              Bulbasaur  318   45   49   49  45   1
      Poison                Ivysaur  405   60   62   63  60   1
      Poison               Venusaur  525   80   82   83  80   1
      Poison  VenusaurMega Venusaur  625   80  100  123  80   1
Fire  NaN                Charmander  309   39   52   43  65   1

In [100]:
#根据索引分组
grouped3 = df_pokemon.groupby(level=["类型1","类型2"])
grouped3

In [101]:
#分组计算各列均值
grouped3.mean()

                           总计         生命值         攻击力         防御力          速度  \
类型1      类型2
Bug      Electric  395.500000   60.000000   62.000000   55.000000   86.500000
         Fighting  550.000000   80.000000  155.000000   95.000000   80.000000
         Fire      455.000000   70.000000   72.500000   60.000000   80.000000
         Flying    419.500000   63.000000   70.142857   61.571429   82.857143
         Ghost     236.000000    1.000000   90.000000   45.000000   40.000000
         Grass     384.000000   55.000000   73.833333   76.666667   44.500000
         Ground    345.000000   45.500000   62.000000   97.500000   38.000000
         Poison    347.916667   53.750000   68.333333   58.083333   65.916667
         Rock      435.000000   46.666667   56.666667  146.666667   35.000000
         Steel     509.714286   67.714286  114.714286  112.428571   63.428571
         Water     269.000000   40.000000   30.000000   32.000000   65.000000
Dark     Dragon    440.000000   72.000000   85.000000   70.000000   64.666667
         Fighting  418.000000   57.500000   82.500000   92.500000   53.000000
         Fire      476.666667   65.000000   80.000000   56.666667   91.666667
         Flying    494.000000   93.200000   92.200000   73.800000   80.200000
         Ghost     430.000000   50.000000   80.000000  100.000000   35.000000
         Ice       470.000000   62.500000  107.500000   60.000000  120.000000
         Psychic   385.000000   69.500000   73.000000   70.500000   59.000000
         Steel     415.000000   55.000000  105.000000   85.000000   65.000000
Dragon   Electric  680.000000  100.000000  150.000000  120.000000   90.000000
         Fairy     590.000000   75.000000  110.000000  110.000000   80.000000
         Fire      680.000000  100.000000  120.000000  100.000000   90.000000
         Flying    641.666667   94.333333  135.666667   97.500000   98.333333
         Ground    522.000000   90.000000  112.000000   88.200000   82.600000
         Ice       686.666667  125.000000  140.000000   93.333333   95.000000
         Psychic   650.000000   80.000000  100.000000   97.500000  110.000000
Electric Dragon    610.000000   90.000000   95.000000  105.000000   45.000000
         Fairy     431.000000   67.000000   58.000000   57.000000  101.000000
         Fire      520.000000   50.000000   65.000000  107.000000   86.000000
         Flying    537.600000   70.600000   90.000000   78.400000  100.200000
...                       ...         ...         ...         ...         ...
Rock     Fighting  580.000000   91.000000  129.000000   90.000000  108.000000
         Flying    524.500000   72.500000  123.000000   65.000000  115.000000
         Grass     425.000000   76.000000   61.000000   87.000000   33.000000
         Ground    380.000000   55.000000   81.333333  104.166667   43.666667
         Ice       441.500000  100.000000   68.000000   61.000000   52.000000
         Psychic   440.000000   70.000000   75.000000   75.000000   70.000000
         Steel     456.666667   50.000000   49.666667  143.666667   33.333333
         Water     417.666667   51.500000   75.333333  100.333333   57.166667
Steel    Dragon    680.000000  100.000000  120.000000  120.000000   90.000000
         Fairy     443.333333   52.333333   90.000000  100.333333   58.333333
         Fighting  580.000000   91.000000   90.000000  129.000000  108.000000
         Flying    465.000000   65.000000   80.000000  140.000000   70.000000
         Ghost     453.250000   56.000000   97.500000  112.500000   45.750000
         Ground    560.000000   75.000000  105.000000  215.000000   30.000000
         Psychic   488.571429   69.142857   89.000000  108.857143   59.428571
         Rock      430.000000   60.000000   90.000000  140.000000   40.000000
Water    Dark      493.833333   69.166667  120.000000   65.166667   87.166667
         Dragon    610.000000   82.500000  107.500000   97.500000   92.500000
         Electric  395.000000  100.000000   48.000000   48.000000   67.000000
         Fairy     335.000000   85.000000   35.000000   65.000000   45.000000
         Fighting  556.666667   90.666667   79.666667   91.666667   95.333333
         Flying    404.000000   63.142857   56.571429   63.142857   72.000000
         Ghost     407.500000   77.500000   50.000000   60.000000   50.000000
         Grass     346.666667   60.000000   50.000000   50.000000   50.000000
         Ground    433.900000   87.100000   84.400000   71.400000   53.200000
         Ice       511.666667   90.000000   83.333333  113.333333   66.666667
         Poison    426.666667   61.666667   68.333333   58.333333   85.000000
         Psychic   481.000000   87.000000   73.000000  104.000000   44.000000
         Rock      428.750000   70.750000   82.750000  112.750000   36.000000
         Steel     530.000000   84.000000   86.000000   88.000000   60.000000

                         时代
类型1      类型2
Bug      Electric  5.000000
         Fighting  2.000000
         Fire      5.000000
         Flying    2.857143
         Ghost     3.000000
         Grass     3.500000
         Ground    3.500000
         Poison    2.333333
         Rock      4.000000
         Steel     3.571429
         Water     3.000000
Dark     Dragon    5.000000
         Fighting  5.000000
         Fire      2.000000
         Flying    4.400000
         Ghost     3.000000
         Ice       3.000000
         Psychic   6.000000
         Steel     5.000000
Dragon   Electric  5.000000
         Fairy     3.000000
         Fire      5.000000
         Flying    2.666667
         Ground    4.400000
         Ice       5.000000
         Psychic   3.000000
Electric Dragon    2.000000
         Fairy     6.000000
         Fire      4.000000
         Flying    4.000000
...                     ...
Rock     Fighting  5.000000
         Flying    3.000000
         Grass     3.000000
         Ground    1.333333
         Ice       6.000000
         Psychic   3.000000
         Steel     4.000000
         Water     2.666667
Steel    Dragon    4.000000
         Fairy     4.000000
         Fighting  5.000000
         Flying    2.000000
         Ghost     6.000000
         Ground    2.000000
         Psychic   3.285714
         Rock      3.000000
Water    Dark      3.166667
         Dragon    3.000000
         Electric  2.000000
         Fairy     2.000000
         Fighting  3.666667
         Flying    3.285714
         Ghost     5.000000
         Grass     3.000000
         Ground    3.300000
         Ice       1.000000
         Poison    1.333333
         Psychic   1.200000
         Rock      3.750000
         Steel     4.000000

[136 rows x 6 columns]

### 2.组的一些特征

**查看每个索引组的个数**

In [102]:
grouped2.size()

类型1       类型2
Bug       Electric     2
          Fighting     2
          Fire         2
          Flying      14
          Ghost        1
          Grass        6
          Ground       2
          Poison      12
          Rock         3
          Steel        7
          Water        1
Dark      Dragon       3
          Fighting     2
          Fire         3
          Flying       5
          Ghost        2
          Ice          2
          Psychic      2
          Steel        2
Dragon    Electric     1
          Fairy        1
          Fire         1
          Flying       6
          Ground       5
          Ice          3
          Psychic      4
Electric  Dragon       1
          Fairy        1
          Fire         1
          Flying       5
                      ..
Rock      Fighting     1
          Flying       4
          Grass        2
          Ground       6
          Ice          2
          Psychic      2
          Steel        3
          Water        6
Steel     Dragon       1
          Fairy        3
          Fighting     1
          Flying       1
          Ghost        4
          Ground       2
          Psychic      7
          Rock         3
Water     Dark         6
          Dragon       2
          Electric     2
          Fairy        2
          Fighting     3
          Flying       7
          Ghost        2
          Grass        3
          Ground      10
          Ice          3
          Poison       3
          Psychic      5
          Rock         4
          Steel        1
Length: 136, dtype: int64

**得到每个索引组的在源数据中的索引位置**

In [105]:
grouped2.groups

{('Grass',
  'Poison'): Int64Index([0, 1, 2, 3, 48, 49, 50, 75, 76, 77, 344, 451, 452, 651, 652], dtype='int64'),
 ('Fire',
  nan): Int64Index([  4,   5,  42,  43,  63,  64,  83,  84, 135, 147, 169, 170, 171,
             236, 259, 263, 276, 355, 435, 518, 557, 572, 573, 614, 615, 692,
             721, 722],
            dtype='int64'),
 ('Fire', 'Flying'): Int64Index([6, 8, 158, 270, 730, 731], dtype='int64'),
 ('Fire', 'Dragon'): Int64Index([7], dtype='int64'),
 ('Water',
  nan): Int64Index([  9,  10,  11,  12,  59,  60,  65,  66,  93,  97, 106, 107, 125,
             126, 127, 128, 129, 139, 145, 172, 173, 174, 201, 241, 242, 264,
             280, 350, 351, 373, 381, 382, 401, 402, 403, 405, 421, 422, 438,
             439, 465, 466, 469, 506, 507, 547, 548, 560, 561, 562, 574, 575,
             595, 610, 655, 724, 725, 762, 763],
            dtype='int64'),
 ('Bug',
  nan): Int64Index([ 13,  14, 136, 219, 288, 289, 291, 342, 343, 446, 447, 457, 649,
             677, 678, 732, 733],
            dtype='int64'),
 ('Bug',
  'Flying'): Int64Index([15, 132, 137, 179, 180, 208, 290, 308, 315, 461, 462, 463, 520,
             734],
            dtype='int64'),
 ('Bug',
  'Poison'): Int64Index([16, 17, 18, 19, 53, 54, 181, 182, 292, 603, 604, 605], dtype='int64'),
 ('Normal',
  'Flying'): Int64Index([ 20,  21,  22,  23,  26,  27,  90,  91,  92, 177, 178, 299, 300,
             364, 441, 442, 443, 489, 578, 579, 580, 688, 689, 729],
            dtype='int64'),
 ('Normal',
  nan): Int64Index([ 24,  25,  57,  58, 116, 121, 123, 124, 138, 143, 144, 148, 155,
             175, 176, 205, 221, 234, 235, 252, 253, 254, 260, 261, 286, 287,
             311, 312, 313, 317, 318, 319, 324, 325, 358, 367, 383, 384, 444,
             471, 474, 475, 479, 480, 488, 495, 514, 525, 543, 552, 563, 564,
             565, 566, 567, 590, 633, 634, 687, 727, 744],
            dtype='int64'),
 ('Poison',
  nan): Int64Index([28, 29, 34, 35, 37, 38, 95, 96, 117, 118, 345, 346, 368, 629, 630], dtype='int64'),
 ('Electric',
  nan): Int64Index([ 30,  31, 108, 109, 134, 146, 186, 193, 194, 195, 258, 262, 337,
             338, 339, 340, 341, 448, 449, 450, 464, 517, 581, 582, 663, 664,
             665],
            dtype='int64'),
 ('Ground',
  nan): Int64Index([32, 33, 55, 56, 112, 113, 250, 251, 359, 423, 499, 500, 588], dtype='int64'),
 ('Poison', 'Ground'): Int64Index([36, 39], dtype='int64'),
 ('Fairy',
  nan): Int64Index([40, 41, 187, 189, 225, 226, 737, 738, 739, 752, 753, 754, 755, 770,
             792],
            dtype='int64'),
 ('Normal', 'Fairy'): Int64Index([44, 45, 188, 322, 591], dtype='int64'),
 ('Poison', 'Flying'): Int64Index([46, 47, 183], dtype='int64'),
 ('Bug', 'Grass'): Int64Index([51, 52, 458, 600, 601, 602], dtype='int64'),
 ('Fighting',
  nan): Int64Index([ 61,  62,  72,  73,  74, 114, 115, 255, 256, 320, 321, 496, 592,
             593, 594, 598, 599, 680, 681, 742],
            dtype='int64'),
 ('Water', 'Fighting'): Int64Index([67, 713, 714], dtype='int64'),
 ('Psychic',
  nan): Int64Index([ 68,  69,  70,  71, 104, 105, 162, 164, 165, 211, 216, 217, 356,
             357, 391, 394, 428, 429, 430, 431, 481, 537, 538, 539, 546, 576,
             577, 635, 636, 637, 638, 639, 640, 666, 667, 745, 746, 747],
            dtype='int64'),
 ('Water', 'Poison'): Int64Index([78, 79, 227], dtype='int64'),
 ('Rock', 'Ground'): Int64Index([80, 81, 82, 103, 265, 266], dtype='int64'),
 ('Water', 'Psychic'): Int64Index([85, 86, 87, 130, 214], dtype='int64'),
 ('Electric', 'Steel'): Int64Index([88, 89, 513], dtype='int64'),
 ('Water', 'Ice'): Int64Index([94, 98, 142], dtype='int64'),
 ('Ghost', 'Poison'): Int64Index([99, 100, 101, 102], dtype='int64'),
 ('Grass', 'Psychic'): Int64Index([110, 111], dtype='int64'),
 ('Ground', 'Rock'): Int64Index([119, 120, 515], dtype='int64'),
 ('Grass',
  nan): Int64Index([122, 166, 167, 168, 197, 206, 207, 272, 273, 274, 296, 309, 362,
             432, 433, 467, 468, 505, 516, 521, 550, 554, 555, 556, 570, 571,
             608, 609, 617, 718, 719, 740, 741],
            dtype='int64'),
 ('Psychic',
  'Fairy'): Int64Index([131, 303, 304, 305, 306, 487], dtype='int64'),
 ('Ice', 'Psychic'): Int64Index([133, 257], dtype='int64'),
 ('Water',
  'Flying'): Int64Index([140, 244, 301, 302, 508, 641, 642], dtype='int64'),
 ('Water', 'Dark'): Int64Index([141, 347, 348, 349, 374, 726], dtype='int64'),
 ('Rock', 'Water'): Int64Index([149, 150, 151, 152, 758, 759], dtype='int64'),
 ('Rock', 'Flying'): Int64Index([153, 154, 627, 628], dtype='int64'),
 ('Ice', 'Flying'): Int64Index([156, 243], dtype='int64'),
 ('Electric', 'Flying'): Int64Index([157, 535, 648, 704, 705], dtype='int64'),
 ('Dragon',
  nan): Int64Index([159, 160, 406, 407, 671, 672, 673, 682, 774, 775, 776], dtype='int64'),
 ('Dragon',
  'Flying'): Int64Index([161, 365, 408, 409, 425, 426], dtype='int64'),
 ('Psychic', 'Fighting'): Int64Index([163, 526, 527], dtype='int64'),
 ('Water', 'Electric'): Int64Index([184, 185], dtype='int64'),
 ('Fairy', 'Flying'): Int64Index([190, 519], dtype='int64'),
 ('Psychic',
  'Flying'): Int64Index([191, 192, 269, 586, 587, 622], dtype='int64'),
 ('Electric', 'Dragon'): Int64Index([196], dtype='int64'),
 ('Water', 'Fairy'): Int64Index([198, 199], dtype='int64'),
 ('Rock',
  nan): Int64Index([200, 323, 414, 453, 454, 486, 583, 584, 585], dtype='int64'),
 ('Grass', 'Flying'): Int64Index([202, 203, 204, 390, 551], dtype='int64'),
 ('Water',
  'Ground'): Int64Index([209, 210, 281, 282, 283, 371, 372, 470, 596, 597], dtype='int64'),
 ('Dark',
  nan): Int64Index([212, 284, 285, 392, 393, 549, 568, 569, 631, 632], dtype='int64'),
 ('Dark', 'Flying'): Int64Index([213, 478, 690, 691, 793], dtype='int64'),
 ('Ghost',
  nan): Int64Index([215, 385, 386, 387, 388, 389, 477, 529, 623, 624], dtype='int64'),
 ('Normal', 'Psychic'): Int64Index([218, 715], dtype='int64'),
 ('Bug',
  'Steel'): Int64Index([220, 228, 229, 460, 650, 693, 717], dtype='int64'),
 ('Ground', 'Flying'): Int64Index([222, 523, 708, 709], dtype='int64'),
 ('Steel', 'Ground'): Int64Index([223, 224], dtype='int64'),
 ('Bug', 'Rock'): Int64Index([230, 618, 619], dtype='int64'),
 ('Bug', 'Fighting'): Int64Index([231, 232], dtype='int64'),
 ('Dark', 'Ice'): Int64Index([233, 512], dtype='int64'),
 ('Fire', 'Rock'): Int64Index([237], dtype='int64'),
 ('Ice', 'Ground'): Int64Index([238, 239, 524], dtype='int64'),
 ('Water', 'Rock'): Int64Index([240, 404, 625, 626], dtype='int64'),
 ('Steel', 'Flying'): Int64Index([245], dtype='int64'),
 ('Dark', 'Fire'): Int64Index([246, 247, 248], dtype='int64'),
 ('Water', 'Dragon'): Int64Index([249, 541], dtype='int64'),
 ('Rock', 'Dark'): Int64Index([267, 268], dtype='int64'),
 ('Psychic', 'Grass'): Int64Index([271], dtype='int64'),
 ('Grass', 'Dragon'): Int64Index([275], dtype='int64'),
 ('Fire',
  'Fighting'): Int64Index([277, 278, 279, 436, 437, 558, 559], dtype='int64'),
 ('Water', 'Grass'): Int64Index([293, 294, 295], dtype='int64'),
 ('Grass', 'Dark'): Int64Index([297, 298, 363], dtype='int64'),
 ('Bug', 'Water'): Int64Index([307], dtype='int64'),
 ('Grass', 'Fighting'): Int64Index([310, 701, 720], dtype='int64'),
 ('Bug', 'Ground'): Int64Index([314, 459], dtype='int64'),
 ('Bug', 'Ghost'): Int64Index([316], dtype='int64'),
 ('Dark', 'Ghost'): Int64Index([326, 327], dtype='int64'),
 ('Steel', 'Fairy'): Int64Index([328, 329, 777], dtype='int64'),
 ('Steel', 'Rock'): Int64Index([330, 331, 332], dtype='int64'),
 ('Steel', nan): Int64Index([333, 416, 660, 661, 662], dtype='int64'),
 ('Fighting', 'Psychic'): Int64Index([334, 335, 336], dtype='int64'),
 ('Fire', 'Ground'): Int64Index([352, 353, 354], dtype='int64'),
 ('Ground', 'Dragon'): Int64Index([360, 361], dtype='int64'),
 ('Dragon', 'Fairy'): Int64Index([366], dtype='int64'),
 ('Rock', 'Psychic'): Int64Index([369, 370], dtype='int64'),
 ('Ground', 'Psychic'): Int64Index([375, 376], dtype='int64'),
 ('Rock', 'Grass'): Int64Index([377, 378], dtype='int64'),
 ('Rock', 'Bug'): Int64Index([379, 380], dtype='int64'),
 ('Ice',
  nan): Int64Index([395, 396, 397, 415, 522, 643, 644, 645, 674, 675, 676, 788, 789], dtype='int64'),
 ('Ice', 'Water'): Int64Index([398, 399, 400], dtype='int64'),
 ('Steel',
  'Psychic'): Int64Index([410, 411, 412, 413, 427, 484, 485], dtype='int64'),
 ('Dragon', 'Psychic'): Int64Index([417, 418, 419, 420], dtype='int64'),
 ('Ground', 'Fire'): Int64Index([424], dtype='int64'),
 ('Grass', 'Ground'): Int64Index([434], dtype='int64'),
 ('Water', 'Steel'): Int64Index([440], dtype='int64'),
 ('Normal', 'Water'): Int64Index([445], dtype='int64'),
 ('Rock', 'Steel'): Int64Index([455, 456, 528], dtype='int64'),
 ('Ghost', 'Flying'): Int64Index([472, 473], dtype='int64'),
 ('Normal', 'Fighting'): Int64Index([476, 716], dtype='int64'),
 ('Poison', 'Dark'): Int64Index([482, 483, 502], dtype='int64'),
 ('Ghost', 'Dark'): Int64Index([490], dtype='int64'),
 ('Dragon', 'Ground'): Int64Index([491, 492, 493, 494, 794], dtype='int64'),
 ('Fighting', 'Steel'): Int64Index([497, 498], dtype='int64'),
 ('Poison', 'Bug'): Int64Index([501], dtype='int64'),
 ('Poison', 'Fighting'): Int64Index([503, 504], dtype='int64'),
 ('Grass', 'Ice'): Int64Index([509, 510, 511], dtype='int64'),
 ('Ice', 'Ghost'): Int64Index([530], dtype='int64'),
 ('Electric', 'Ghost'): Int64Index([531], dtype='int64'),
 ('Electric', 'Fire'): Int64Index([532], dtype='int64'),
 ('Electric', 'Water'): Int64Index([533], dtype='int64'),
 ('Electric', 'Ice'): Int64Index([534], dtype='int64'),
 ('Electric', 'Grass'): Int64Index([536], dtype='int64'),
 ('Steel', 'Dragon'): Int64Index([540], dtype='int64'),
 ('Fire', 'Steel'): Int64Index([542], dtype='int64'),
 ('Ghost', 'Dragon'): Int64Index([544, 545], dtype='int64'),
 ('Psychic', 'Fire'): Int64Index([553], dtype='int64'),
 ('Ground', 'Steel'): Int64Index([589], dtype='int64'),
 ('Grass', 'Fairy'): Int64Index([606, 607], dtype='int64'),
 ('Ground', 'Dark'): Int64Index([611, 612, 613], dtype='int64'),
 ('Fire', 'Psychic'): Int64Index([616, 723], dtype='int64'),
 ('Dark', 'Fighting'): Int64Index([620, 621], dtype='int64'),
 ('Normal', 'Grass'): Int64Index([646, 647], dtype='int64'),
 ('Water', 'Ghost'): Int64Index([653, 654], dtype='int64'),
 ('Bug', 'Electric'): Int64Index([656, 657], dtype='int64'),
 ('Grass', 'Steel'): Int64Index([658, 659], dtype='int64'),
 ('Ghost', 'Fire'): Int64Index([668, 669, 670], dtype='int64'),
 ('Ground', 'Electric'): Int64Index([679], dtype='int64'),
 ('Ground', 'Ghost'): Int64Index([683, 684], dtype='int64'),
 ('Dark', 'Steel'): Int64Index([685, 686], dtype='int64'),
 ('Dark', 'Dragon'): Int64Index([694, 695, 696], dtype='int64'),
 ('Bug', 'Fire'): Int64Index([697, 698], dtype='int64'),
 ('Steel', 'Fighting'): Int64Index([699], dtype='int64'),
 ('Rock', 'Fighting'): Int64Index([700], dtype='int64'),
 ('Flying', nan): Int64Index([702, 703], dtype='int64'),
 ('Dragon', 'Fire'): Int64Index([706], dtype='int64'),
 ('Dragon', 'Electric'): Int64Index([707], dtype='int64'),
 ('Dragon', 'Ice'): Int64Index([710, 711, 712], dtype='int64'),
 ('Normal', 'Ground'): Int64Index([728], dtype='int64'),
 ('Fire', 'Normal'): Int64Index([735, 736], dtype='int64'),
 ('Fighting', 'Dark'): Int64Index([743], dtype='int64'),
 ('Steel', 'Ghost'): Int64Index([748, 749, 750, 751], dtype='int64'),
 ('Dark', 'Psychic'): Int64Index([756, 757], dtype='int64'),
 ('Poison', 'Water'): Int64Index([760], dtype='int64'),
 ('Poison', 'Dragon'): Int64Index([761], dtype='int64'),
 ('Electric', 'Normal'): Int64Index([764, 765], dtype='int64'),
 ('Rock', 'Dragon'): Int64Index([766, 767], dtype='int64'),
 ('Rock', 'Ice'): Int64Index([768, 769], dtype='int64'),
 ('Fighting', 'Flying'): Int64Index([771], dtype='int64'),
 ('Electric', 'Fairy'): Int64Index([772], dtype='int64'),
 ('Rock', 'Fairy'): Int64Index([773, 795, 796], dtype='int64'),
 ('Ghost',
  'Grass'): Int64Index([778, 779, 780, 781, 782, 783, 784, 785, 786, 787], dtype='int64'),
 ('Flying', 'Dragon'): Int64Index([790, 791], dtype='int64'),
 ('Psychic', 'Ghost'): Int64Index([797], dtype='int64'),
 ('Psychic', 'Dark'): Int64Index([798], dtype='int64'),
 ('Fire', 'Water'): Int64Index([799], dtype='int64')}

**得到包含索引组的所有数据**

In [114]:
#得到索引组为Fire和Flying的所有数据
grouped2.get_group(('Fire', 'Flying'))

                            姓名   类型1     类型2   总计  生命值  攻击力  防御力   速度  时代
6                    Charizard  Fire  Flying  534   78   84   78  100   1
8    CharizardMega Charizard Y  Fire  Flying  634   78  104   78  100   1
158                    Moltres  Fire  Flying  580   90  100   90   90   1
270                      Ho-oh  Fire  Flying  680  106  130   90   90   2
730                Fletchinder  Fire  Flying  382   62   73   55   84   6
731                 Talonflame  Fire  Flying  499   78   81   71  126   6

### 3.组的迭代

In [119]:
for name,group in grouped2:
    print(name)
    print(group.shape)

('Bug', 'Electric')
(2, 9)
('Bug', 'Fighting')
(2, 9)
('Bug', 'Fire')
(2, 9)
('Bug', 'Flying')
(14, 9)
('Bug', 'Ghost')
(1, 9)
('Bug', 'Grass')
(6, 9)
('Bug', 'Ground')
(2, 9)
('Bug', 'Poison')
(12, 9)
('Bug', 'Rock')
(3, 9)
('Bug', 'Steel')
(7, 9)
('Bug', 'Water')
(1, 9)
('Dark', 'Dragon')
(3, 9)
('Dark', 'Fighting')
(2, 9)
('Dark', 'Fire')
(3, 9)
('Dark', 'Flying')
(5, 9)
('Dark', 'Ghost')
(2, 9)
('Dark', 'Ice')
(2, 9)
('Dark', 'Psychic')
(2, 9)
('Dark', 'Steel')
(2, 9)
('Dragon', 'Electric')
(1, 9)
('Dragon', 'Fairy')
(1, 9)
('Dragon', 'Fire')
(1, 9)
('Dragon', 'Flying')
(6, 9)
('Dragon', 'Ground')
(5, 9)
('Dragon', 'Ice')
(3, 9)
('Dragon', 'Psychic')
(4, 9)
('Electric', 'Dragon')
(1, 9)
('Electric', 'Fairy')
(1, 9)
('Electric', 'Fire')
(1, 9)
('Electric', 'Flying')
(5, 9)
('Electric', 'Ghost')
(1, 9)
('Electric', 'Grass')
(1, 9)
('Electric', 'Ice')
(1, 9)
('Electric', 'Normal')
(2, 9)
('Electric', 'Steel')
(3, 9)
('Electric', 'Water')
(1, 9)
('Fairy', 'Flying')
(2, 9)
('Fighting', 'Dark')
(1, 9)
('Fighting', 'Flying')
(1, 9)
('Fighting', 'Psychic')
(3, 9)
('Fighting', 'Steel')
(2, 9)
('Fire', 'Dragon')
(1, 9)
('Fire', 'Fighting')
(7, 9)
('Fire', 'Flying')
(6, 9)
('Fire', 'Ground')
(3, 9)
('Fire', 'Normal')
(2, 9)
('Fire', 'Psychic')
(2, 9)
('Fire', 'Rock')
(1, 9)
('Fire', 'Steel')
(1, 9)
('Fire', 'Water')
(1, 9)
('Flying', 'Dragon')
(2, 9)
('Ghost', 'Dark')
(1, 9)
('Ghost', 'Dragon')
(2, 9)
('Ghost', 'Fire')
(3, 9)
('Ghost', 'Flying')
(2, 9)
('Ghost', 'Grass')
(10, 9)
('Ghost', 'Poison')
(4, 9)
('Grass', 'Dark')
(3, 9)
('Grass', 'Dragon')
(1, 9)
('Grass', 'Fairy')
(2, 9)
('Grass', 'Fighting')
(3, 9)
('Grass', 'Flying')
(5, 9)
('Grass', 'Ground')
(1, 9)
('Grass', 'Ice')
(3, 9)
('Grass', 'Poison')
(15, 9)
('Grass', 'Psychic')
(2, 9)
('Grass', 'Steel')
(2, 9)
('Ground', 'Dark')
(3, 9)
('Ground', 'Dragon')
(2, 9)
('Ground', 'Electric')
(1, 9)
('Ground', 'Fire')
(1, 9)
('Ground', 'Flying')
(4, 9)
('Ground', 'Ghost')
(2, 9)
('Ground', 'Psychic')
(2, 9)
('Ground', 'Rock')
(3, 9)
('Ground', 'Steel')
(1, 9)
('Ice', 'Flying')
(2, 9)
('Ice', 'Ghost')
(1, 9)
('Ice', 'Ground')
(3, 9)
('Ice', 'Psychic')
(2, 9)
('Ice', 'Water')
(3, 9)
('Normal', 'Fairy')
(5, 9)
('Normal', 'Fighting')
(2, 9)
('Normal', 'Flying')
(24, 9)
('Normal', 'Grass')
(2, 9)
('Normal', 'Ground')
(1, 9)
('Normal', 'Psychic')
(2, 9)
('Normal', 'Water')
(1, 9)
('Poison', 'Bug')
(1, 9)
('Poison', 'Dark')
(3, 9)
('Poison', 'Dragon')
(1, 9)
('Poison', 'Fighting')
(2, 9)
('Poison', 'Flying')
(3, 9)
('Poison', 'Ground')
(2, 9)
('Poison', 'Water')
(1, 9)
('Psychic', 'Dark')
(1, 9)
('Psychic', 'Fairy')
(6, 9)
('Psychic', 'Fighting')
(3, 9)
('Psychic', 'Fire')
(1, 9)
('Psychic', 'Flying')
(6, 9)
('Psychic', 'Ghost')
(1, 9)
('Psychic', 'Grass')
(1, 9)
('Rock', 'Bug')
(2, 9)
('Rock', 'Dark')
(2, 9)
('Rock', 'Dragon')
(2, 9)
('Rock', 'Fairy')
(3, 9)
('Rock', 'Fighting')
(1, 9)
('Rock', 'Flying')
(4, 9)
('Rock', 'Grass')
(2, 9)
('Rock', 'Ground')
(6, 9)
('Rock', 'Ice')
(2, 9)
('Rock', 'Psychic')
(2, 9)
('Rock', 'Steel')
(3, 9)
('Rock', 'Water')
(6, 9)
('Steel', 'Dragon')
(1, 9)
('Steel', 'Fairy')
(3, 9)
('Steel', 'Fighting')
(1, 9)
('Steel', 'Flying')
(1, 9)
('Steel', 'Ghost')
(4, 9)
('Steel', 'Ground')
(2, 9)
('Steel', 'Psychic')
(7, 9)
('Steel', 'Rock')
(3, 9)
('Water', 'Dark')
(6, 9)
('Water', 'Dragon')
(2, 9)
('Water', 'Electric')
(2, 9)
('Water', 'Fairy')
(2, 9)
('Water', 'Fighting')
(3, 9)
('Water', 'Flying')
(7, 9)
('Water', 'Ghost')
(2, 9)
('Water', 'Grass')
(3, 9)
('Water', 'Ground')
(10, 9)
('Water', 'Ice')
(3, 9)
('Water', 'Poison')
(3, 9)
('Water', 'Psychic')
(5, 9)
('Water', 'Rock')
(4, 9)
('Water', 'Steel')
(1, 9)

## 二.数据透视表

### 1.数据透视表pivot_table

In [120]:
#示例数据
df_p = df.iloc[:10,0:6]
df_p

                          姓名    类型1     类型2   总计  生命值  攻击力
0                  Bulbasaur  Grass  Poison  318   45   49
1                    Ivysaur  Grass  Poison  405   60   62
2                   Venusaur  Grass  Poison  525   80   82
3      VenusaurMega Venusaur  Grass  Poison  625   80  100
4                 Charmander   Fire     NaN  309   39   52
5                 Charmeleon   Fire     NaN  405   58   64
6                  Charizard   Fire  Flying  534   78   84
7  CharizardMega Charizard X   Fire  Dragon  634   78  130
8  CharizardMega Charizard Y   Fire  Flying  634   78  104
9                   Squirtle  Water     NaN  314   44   48

In [121]:
#做一些修改
df_p.loc[0:2,"姓名"] = "A"
df_p.loc[3:5,"姓名"] = "B"
df_p.loc[6:9,"姓名"] = "C"
df_p["类型2"] = df_p["类型2"].fillna("Flying")
df_p.rename(columns={"姓名":"组"},inplace=True)

In [122]:
df_p

   组    类型1     类型2   总计  生命值  攻击力
0  A  Grass  Poison  318   45   49
1  A  Grass  Poison  405   60   62
2  A  Grass  Poison  525   80   82
3  B  Grass  Poison  625   80  100
4  B   Fire  Flying  309   39   52
5  B   Fire  Flying  405   58   64
6  C   Fire  Flying  534   78   84
7  C   Fire  Dragon  634   78  130
8  C   Fire  Flying  634   78  104
9  C  Water  Flying  314   44   48

In [123]:
#将组放在行上，类型1放在列上，计算字段为攻击力，如果没有指定，默认计算其均值
df_p.pivot_table(index="组",columns="类型1",values="攻击力")

类型1   Fire       Grass  Water
组
A      NaN   64.333333    NaN
B     58.0  100.000000    NaN
C    106.0         NaN   48.0

In [124]:
#将组放在行上，类型1放在列上，计算攻击力的均值和计数
df_p.pivot_table(index="组",columns="类型1",values="攻击力",aggfunc=[np.mean,len])

      mean                    len
类型1   Fire       Grass Water Fire Grass Water
组
A      NaN   64.333333   NaN  NaN   3.0   NaN
B     58.0  100.000000   NaN  2.0   1.0   NaN
C    106.0         NaN  48.0  3.0   NaN   1.0

In [114]:
#将组和类型1放在行上，类型2放在列上，计算攻击力的均值和计数
df_p.pivot_table(index=["组","类型1"],columns="类型2",values="攻击力",aggfunc=[np.mean,len])

          mean                       len
类型2     Dragon Flying      Poison Dragon Flying Poison
组 类型1
A Grass    NaN    NaN   64.333333    NaN    NaN    3.0
B Fire     NaN   58.0         NaN    NaN    2.0    NaN
  Grass    NaN    NaN  100.000000    NaN    NaN    1.0
C Fire   130.0   94.0         NaN    1.0    2.0    NaN
  Water    NaN   48.0         NaN    NaN    1.0    NaN

In [125]:
#将组和类型1放在行上，类型2放在列上，计算生命值和攻击力的均值和计数
df_p.pivot_table(index=["组","类型1"],columns="类型2",values=["生命值","攻击力"],aggfunc=[np.mean,len])

          mean                                                len         \
           攻击力                       生命值                      攻击力
类型2     Dragon Flying      Poison Dragon Flying     Poison Dragon Flying
组 类型1
A Grass    NaN    NaN   64.333333    NaN    NaN  61.666667    NaN    NaN
B Fire     NaN   58.0         NaN    NaN   48.5        NaN    NaN    2.0
  Grass    NaN    NaN  100.000000    NaN    NaN  80.000000    NaN    NaN
C Fire   130.0   94.0         NaN   78.0   78.0        NaN    1.0    2.0
  Water    NaN   48.0         NaN    NaN   44.0        NaN    NaN    1.0


                  生命值
类型2     Poison Dragon Flying Poison
组 类型1
A Grass    3.0    NaN    NaN    3.0
B Fire     NaN    NaN    2.0    NaN
  Grass    1.0    NaN    NaN    1.0
C Fire     NaN    1.0    2.0    NaN
  Water    NaN    NaN    1.0    NaN

In [126]:
#将组和类型1放在行上，类型2放在列上，计算生命值和攻击力的均值和计数，并且将缺失值填充为0
df_p1 = df_p.pivot_table(index=["组","类型1"],columns="类型2",values=["生命值","攻击力"],aggfunc=[np.mean,len],fill_value=0)
df_p1

          mean                                                len         \
           攻击力                       生命值                      攻击力
类型2     Dragon Flying      Poison Dragon Flying     Poison Dragon Flying
组 类型1
A Grass      0      0   64.333333      0    0.0  61.666667      0      0
B Fire       0     58    0.000000      0   48.5   0.000000      0      2
  Grass      0      0  100.000000      0    0.0  80.000000      0      0
C Fire     130     94    0.000000     78   78.0   0.000000      1      2
  Water      0     48    0.000000      0   44.0   0.000000      0      1


                  生命值
类型2     Poison Dragon Flying Poison
组 类型1
A Grass      3      0      0      3
B Fire       0      0      2      0
  Grass      1      0      0      1
C Fire       0      1      2      0
  Water      0      0      1      0

In [127]:
#将组和类型1放在行上，类型2放在列上，计算生命值和攻击力的均值和计数，将缺失值填充为0，并且增加总计行列
df_p.pivot_table(index=["组","类型1"],columns="类型2",values=["生命值","攻击力"],aggfunc=[np.mean,len],fill_value=0,margins=True)

            mean                                                          \
             攻击力                                   生命值
类型2       Dragon Flying      Poison         All Dragon Flying     Poison
组   类型1
A   Grass    0.0    0.0   64.333333   64.333333    0.0    0.0  61.666667
B   Fire     0.0   58.0    0.000000   58.000000    0.0   48.5   0.000000
    Grass    0.0    0.0  100.000000  100.000000    0.0    0.0  80.000000
C   Fire   130.0   94.0    0.000000  106.000000   78.0   78.0   0.000000
    Water    0.0   48.0    0.000000   48.000000    0.0   44.0   0.000000
All        130.0   70.4   73.250000   77.500000   78.0   59.4  66.250000

                        len
                        攻击力                        生命值
类型2              All Dragon Flying Poison   All Dragon Flying Poison   All
组   类型1
A   Grass  61.666667    0.0    0.0    3.0   3.0    0.0    0.0    3.0   3.0
B   Fire   48.500000    0.0    2.0    0.0   2.0    0.0    2.0    0.0   2.0
    Grass  80.000000    0.0    0.0    1.0   1.0    0.0    0.0    1.0   1.0
C   Fire   78.000000    1.0    2.0    0.0   3.0    1.0    2.0    0.0   3.0
    Water  44.000000    0.0    1.0    0.0   1.0    0.0    1.0    0.0   1.0
All        64.000000    1.0    5.0    4.0  10.0    1.0    5.0    4.0  10.0

### 2.重塑层次化索引

+ stack（）：将数据最内层的列旋转到行上

+ unstack（）：将数据最内层的行旋转到列上

In [128]:
#示例数据
df_p1

          mean                                                len         \
           攻击力                       生命值                      攻击力
类型2     Dragon Flying      Poison Dragon Flying     Poison Dragon Flying
组 类型1
A Grass      0      0   64.333333      0    0.0  61.666667      0      0
B Fire       0     58    0.000000      0   48.5   0.000000      0      2
  Grass      0      0  100.000000      0    0.0  80.000000      0      0
C Fire     130     94    0.000000     78   78.0   0.000000      1      2
  Water      0     48    0.000000      0   44.0   0.000000      0      1


                  生命值
类型2     Poison Dragon Flying Poison
组 类型1
A Grass      3      0      0      3
B Fire       0      0      2      0
  Grass      1      0      0      1
C Fire       0      1      2      0
  Water      0      0      1      0

In [129]:
#将数据最内层的列旋转到行上，也即是将类型2转移到行上
df_p1.stack()

                      mean            len
                       攻击力        生命值 攻击力 生命值
组 类型1   类型2
A Grass Dragon    0.000000   0.000000   0   0
        Flying    0.000000   0.000000   0   0
        Poison   64.333333  61.666667   3   3
B Fire  Dragon    0.000000   0.000000   0   0
        Flying   58.000000  48.500000   2   2
        Poison    0.000000   0.000000   0   0
  Grass Dragon    0.000000   0.000000   0   0
        Flying    0.000000   0.000000   0   0
        Poison  100.000000  80.000000   1   1
C Fire  Dragon  130.000000  78.000000   1   1
        Flying   94.000000  78.000000   2   2
        Poison    0.000000   0.000000   0   0
  Water Dragon    0.000000   0.000000   0   0
        Flying   48.000000  44.000000   1   1
        Poison    0.000000   0.000000   0   0

In [131]:
df_p1

          mean                                                len         \
           攻击力                       生命值                      攻击力
类型2     Dragon Flying      Poison Dragon Flying     Poison Dragon Flying
组 类型1
A Grass      0      0   64.333333      0    0.0  61.666667      0      0
B Fire       0     58    0.000000      0   48.5   0.000000      0      2
  Grass      0      0  100.000000      0    0.0  80.000000      0      0
C Fire     130     94    0.000000     78   78.0   0.000000      1      2
  Water      0     48    0.000000      0   44.0   0.000000      0      1


                  生命值
类型2     Poison Dragon Flying Poison
组 类型1
A Grass      3      0      0      3
B Fire       0      0      2      0
  Grass      1      0      0      1
C Fire       0      1      2      0
  Water      0      0      1      0

In [132]:
#将数据最内层的行旋转到列上，也即是将类型1转移到列上
df_p1.unstack()

      mean                                                                 \
       攻击力                                                            生命值
类型2 Dragon             Flying             Poison                   Dragon
类型1   Fire Grass Water   Fire Grass Water   Fire       Grass Water   Fire
组
A      NaN   0.0   NaN    NaN   0.0   NaN    NaN   64.333333   NaN    NaN
B      0.0   0.0   NaN   58.0   0.0   NaN    0.0  100.000000   NaN    0.0
C    130.0   NaN   0.0   94.0   NaN  48.0    0.0         NaN   0.0   78.0

     ...     len
     ...     攻击力    生命值
类型2  ...  Poison Dragon             Flying             Poison
类型1  ...   Water   Fire Grass Water   Fire Grass Water   Fire Grass Water
组    ...
A    ...     NaN    NaN   0.0   NaN    NaN   0.0   NaN    NaN   3.0   NaN
B    ...     NaN    0.0   0.0   NaN    2.0   0.0   NaN    0.0   1.0   NaN
C    ...     0.0    1.0   NaN   0.0    2.0   NaN   1.0    0.0   NaN   0.0

[3 rows x 36 columns]

## 三.交叉表

用于计算分组频率用的特殊透视表

In [133]:
#示例数据
df_p

   组    类型1     类型2   总计  生命值  攻击力
0  A  Grass  Poison  318   45   49
1  A  Grass  Poison  405   60   62
2  A  Grass  Poison  525   80   82
3  B  Grass  Poison  625   80  100
4  B   Fire  Flying  309   39   52
5  B   Fire  Flying  405   58   64
6  C   Fire  Flying  534   78   84
7  C   Fire  Dragon  634   78  130
8  C   Fire  Flying  634   78  104
9  C  Water  Flying  314   44   48

In [125]:
#计算组和类型1的交叉频率
pd.crosstab(index=df_p["组"],columns=df_p["类型1"])

类型1  Fire  Grass  Water
组
A       0      3      0
B       2      1      0
C       3      0      1